---
layout: landing-layout.ejs
---

<img id="lines" src="/assets/images/lines-1.svg" />
<div id="dots-bg"></div>
<div class="sankalan-wrap">
  <div class="glitch" data-text="SANKALAN 2020">SANKALAN 2020</div>
</div>
<div class="rotating-animation"><% include /rotating-circles %></div>
<a href="#" target="_blank" class="register-button"><span>register</span></a>
<div class="corner-nav-item top-left red">
  <a href="/about/">about</a>
</div>
<div class="corner-nav-item top-right blue">
  <a href="/events/">events</a>
</div>
<div class="corner-nav-item bottom-left orange">
  <a href="/sponsors/">sponsors</a>
</div>
<div class="corner-nav-item bottom-right green">
  <a href="/faq/">faq</a>
</div>
<div class="left-content">
  <div class="countdown">
    <div class="counter-section">
      <div class="counter-wrap">
        <div class="counter-container">
          <div class="counter-box">
            <p class="counter-time">-</p>
            <p class="counter-tag">days</p>
          </div>
          <div class="counter-box">
            <p class="counter-time">-</p>
            <p class="counter-tag">hrs</p>
          </div>
          <div class="counter-box">
            <p class="counter-time">-</p>
            <p class="counter-tag">mins</p>
          </div>
          <div class="counter-box">
            <p class="counter-time">-</p>
            <p class="counter-tag">secs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="right-content">
  <div class="date">March <br />9-10, 2020</div>
  <div class="coordinates">28°41'17.2"N 77°12'25.7"E</div>
  <div class="options">
    <div>SCHEDULE</div>
    <div>MEET THE TEAM</div>
    <div>NEED HELP?</div>
  </div>
</div>
