<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<link rel="stylesheet" href="/assets/stylesheets/main.css">
		<title>Sankalan|2020</title> 
	</head>
	<body>
		<header>
			Site Header
		</header> 
		<main> 
			<%- content %>
		</main> 
		<footer>Site Footer</footer> 
	</body>
</html>