---
layout: base-layout.ejs
styles: event-layout.css
---

<div class="banner-image">
  <img src=<%= image %> />
</div>

<div class="banner-content">
  <%- content %>
</div>

<div class="buttoncontainer">
  <%links.forEach(function(result){ %>
  <a class="main-button" target="_blank" href="<%= result.link %>"
    ><%= result.name %></a
  >
  <% }) %>
</div>
