---
layout: base-layout.ejs
pagination:
    data: collections.event
    size : 1
    alias : events
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/assets/stylesheets/events.css" rel="stylesheet"/>
    </head>
    <body>
        <div class = "banner">
            <div class = "banner-content">
                <h1 class = "banner-subtitle">Events</h1>
                <h2 class = "banner-title">Something for everyone !</h2>
                <p>
                    "We have 9 technical events as well as 7 non-technical events."
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "grid-container">
                  <div class = "column">
                      <a href="/events/hackducs">
                          <img src="/assets/images/hackducs.png" alt="hackDUCS" />
                      </a>
                  </div>
            </div>
        </div>
        
    </body>
</html>
