<footer>
  <div class="navigation">
    <a href="/contact/">Contact</a>
    <a href="/terms/">Terms</a>
    <a href=<%= site.registerLink %>>Register</a>
  </div>
  COPYRIGHT &copy; SANKALAN 2020. ALL RIGHTS RESERVED.<br />
  Meet the <a href="/team/">Sankalan team</a><br />
  Delhi University Computer Science Society (DUCSS)
  <div class="socials">
    <a href=<%= contact.facebook.link %> target="_blank"
      ><i class="fab fa-facebook"></i
    ></a>
    <a href=<%= contact.instagram %> target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
  </div>
</footer>
