<footer>
  <div class="navigation">
    <span>Contact</span>
    <span>Terms</span>
    <span>Register</span>
  </div>
  COPYRIGHT &copy; SANKALAN 2020. ALL RIGHTS RESERVED.<br />
  Meet the <a href="/team/">Sankalan team</a><br />
  Delhi University Computer Science Society (DUCSS)
  <div class="socials">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
  </div>
</footer>
