<header>
  <nav>
    <div class="title">
      <a href="{{ '/' | url }}"><div class="glitch" data-text="SANKALAN {{ site.year }}">SANKALAN<br />{{ site.year }}</div></a>
    </div>
    
    <div class="nav-links">
      <a href="{{ '/about/' | url }}"
        class="{% if title and title.toLowerCase() == 'about' %}active{% endif %}">
        about
      </a>
      <a href="{{ '/events/' | url }}" 
        class="{% if title and title.toLowerCase() == 'events' %}active{% endif %}">
        events
      </a>
      <a href="{{ '/faq/' | url }}" 
        class="{% if title and title.toLowerCase() == 'faq' %}active{% endif %}">
        faq
      </a>
      <a href="{{ '/sponsors/' | url }}" 
        class="{% if title and title.toLowerCase() == 'sponsors' %}active{% endif %}">
        sponsors
      </a>
      <a class="button"  target="_blank">schedule</a>
      <a class="button-small" href="{{ '/assets/downloads/schedule.pdf' | url }}" target="_blank"><i class="fas fa-calendar-alt"></i></a>
    </div>
  </nav>
</header>
