<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/stylesheets/landing.css' | url }}" />
    <link type="image/png" href="{{ '/assets/images/favicon.png' | url }}" rel="icon">
    <title>Sankalan {{ site.year }}</title>
    <meta property="og:title" content="Sankalan {{ site.year }}" />
    <meta property="og:description" content="The annual tech fest of Department of Computer Science, University of Delhi (DUCS)" />
    <meta property="og:image" content="{{ '/assets/images/sankalan2022logo.jpg' | url }}" />
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/scripts/circles.js' | url }}"></script>
    <script type="text/javascript" src="{{ '/assets/scripts/dots.js' | url }}"></script>
    <script type="text/javascript" src="{{ '/assets/scripts/countdown.js' | url }}"></script>
  </body>
</html>
