@font-face {
  font-family: spaceMonoRegular;
  src: url(../fonts/SpaceMono-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: spaceMonoBold;
  src: url(../fonts/SpaceMono-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: majorMonoDisplay;
  src: url(../fonts/MajorMonoDisplay-Regular.ttf);
  font-weight: 400;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  font-family: "spaceMonoRegular";
}

a {
  text-decoration: underline;
}

.wrapper {
  position: absolute;
  width: 60vw;
  left: 40%;
  top: 35vh;
  transform: translate(-40%, 0);
  height: auto;
  z-index: 6;
}

.wrapper main {
  height: 100%;
  width: 100%;
  text-align: start;
  padding-left: 30px;
  padding-right: 80px;
  padding-bottom: 30px;
  border: 0.5px solid #99a1b328;
  border-top: none;
  background: #0c093c; /* fallback for old browsers */
  background: -webkit-radial-gradient(
    #0c093c,
    #0c093c,
    #0c093c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(
    #0c093c,
    #0c093c,
    #0c093c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.line-br {
  height: 15px;
}

main .line-br span.line-br-1 {
  width: 80px;
  height: 6px;
  position: absolute;
}
main .line-br span.line-br-2 {
  width: 30px;
  height: 6px;
  position: absolute;
  left: 125px;
}
main .line-br span.line-br-3 {
  width: 10px;
  height: 6px;
  position: absolute;
  left: 170px;
}

main span {
  background-color: cyan;
}

main h1 {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 30px;
  text-transform: uppercase;
}

main h2 {
  color: #fc60ffc5;
  font-weight: 400;
  font-size: 3rem;
  line-height: 60px;
}

main h3 {
  color: rgba(213, 122, 255, 0.808);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 30px;
}

main p {
  color: #99a1b3;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 20px 0 60px 0;
}

main a {
  color: white;
}

.glitch {
  font-size: 3rem;
  font-family: "majorMonoDisplay";
  cursor: pointer;
}

header {
  position: absolute;
  z-index: 100;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
  width: 85vw;
  align-items: center;
  text-transform: uppercase;
  height: 20vh;
}

header div a,
header div a:visited {
  margin-left: 1.8rem;
  padding-bottom: 5px;
  color: #fc44ff;
  letter-spacing: 3px;
  font-family: "spaceMonoRegular";
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

header div a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  position: absolute;
  background: cyan;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header div a:hover:after {
  width: 100%;
  left: 0;
}

.active:after {
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  height: 2.5px;
  position: absolute;
  background: cyan;
  width: 100%;
  color: red;
}

header div a.btn {
  text-decoration: none;
  color: #0c093c;
  margin-left: 1.8rem;
  padding: 0.5em 1em;
  background-color: cyan;
  cursor: pointer;
  letter-spacing: 3px;
}

header div .btn:hover {
  background-color: rgb(1, 3, 153);
  color: #ffffff;
}

header div .btn::after {
  display: none;
}

.glitch:hover {
  font-size: 3.5rem;
}

footer {
  margin-top: 130px;
  margin-bottom: 120px;
  color: #99a1b3;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
}

footer a,
footer a:visited {
  color: #99a1b3;
  font-weight: 700;
}

footer .navigation {
  margin-bottom: 50px;
  color: white;
  letter-spacing: 3px;
}

footer .navigation span:hover {
  color: #fc60ffc5;
}

footer .socials i:hover {
  color: #fc60ffc5;
}

footer div span {
  cursor: pointer;
  padding: 0 20px;
}

footer .socials {
  margin-top: 50px;
  color: white;
  letter-spacing: 3px;
  font-size: 2rem;
  cursor: pointer;
}

.main-button {
  display: table;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
