@font-face {
  font-family: spaceMonoRegular;
  src: url(../fonts/SpaceMono-Regular.ttf);
  font-weight: 400;
}

/* for title */
@font-face {
  font-family: octopost;
  src: url(../fonts/octopost.ttf);
}

@font-face {
  font-family: spaceMonoBold;
  src: url(../fonts/SpaceMono-Bold.ttf);
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "spaceMonoRegular";
  width: calc(100vw - (100vw - 100%));
  overflow-y: scroll;
}

.page-wrapper {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "h"
    "m"
    "f";
}

header nav {
  text-transform: uppercase;
  height: 300px;
  width: 100%;
  padding: 0 12vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header nav .title a .glitch {
  font-size: 2.75rem;
  font-family: "octopost";
  cursor: pointer;
  transition: transform 0.8s;
}

header nav .title a .glitch:hover {
  transform: scale(1.125);
}

header nav .nav-links a,
header nav .nav-links a:visited {
  margin-left: 1.5rem;
  padding-bottom: 5px;
  color: #fc44ff;
  letter-spacing: 4px;
  font-family: "spaceMonoRegular";
  font-size: 0.9rem;
  position: relative;
  text-decoration: none;
}

header nav .nav-links a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: cyan;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header nav .nav-links a:hover:after {
  width: 100%;
  left: -0.1rem;
}

header nav .nav-links a.active:after {
  bottom: 0;
  left: -0.1rem;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: cyan;
  width: 100%;
}

header nav .nav-links a.button,
header nav .nav-links a.button-small {
  color: #0c093c;
  padding: 0.5rem 1rem;
  background-color: cyan;
}

header nav .nav-links a.button:hover,
header nav .nav-links a.button-small:hover {
  background-color: rgb(1, 3, 153);
  color: #ffffff;
}

header nav .nav-links a.button::after,
header nav .nav-links a.button-small::after {
  display: none;
}

header nav .nav-links a.button {
  display: inline-block;
}

header nav .nav-links a.button-small {
  display: none;
  margin: 0.7rem 0;
  text-align: center;
  border-radius: 15px;
  padding: 0.7rem 0.8rem;
}

@media only screen and (max-width: 1250px) {
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

/* For mobile devices: */
@media only screen and (max-width: 870px) {
  header nav {
    padding: 0.5rem;
  }

  header nav .nav-links a,
  header nav .nav-links a:visited {
    margin-left: 0.5rem;
    font-size: 0.9rem;
  }

  header nav .nav-links a.button {
    display: none;
  }

  header nav .nav-links a.button,
  header nav .nav-links a.button-small {
    color: #f8f8f8;
    background-color: #d52ed8;
  }

  header nav .nav-links a.button:hover,
  header nav .nav-links a.button-small:hover {
    background-color: rgb(53, 209, 209);
    color: #bd25c0;
  }

  header nav .nav-links a.button-small {
    display: inline-flex;
    justify-content: center;
  }
  header nav .nav-links a,
  header nav .nav-links a:visited {
    margin-left: 0.3rem;
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 600px) {
  header nav .nav-links a,
  header nav .nav-links a:visited {
    letter-spacing: 1.5px;
  }
}

main {
  grid-area: m;
  display: flex;
  justify-content: center;
  height: auto;
}

main .content {
  width: 65%;
  text-align: start;
  padding-left: 30px;
  padding-right: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #99a1b328;
  word-wrap: break-word;
  background: #0c093c; /* fallback for old browsers */
  background: -webkit-radial-gradient(
    #0c093c,
    #0c093c,
    #0c093c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(
    #0c093c,
    #0c093c,
    #0c093c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.25), 0 0px 20px rgba(0, 0, 0, 0.22);
}

main .content .line-br {
  height: 15px;
  position: relative;
  margin-bottom: 50px;
}

main .content .line-br span.line-br-1 {
  width: 80px;
  height: 6px;
  position: absolute;
}
main .content .line-br span.line-br-2 {
  width: 30px;
  height: 6px;
  position: absolute;
  left: 98px;
}
main .content .line-br span.line-br-3 {
  width: 10px;
  height: 6px;
  position: absolute;
  left: 143px;
}

main .content .line-br span {
  background-color: cyan;
}

main .content h1 {
  color: white;
  font-size: 1.7rem;
  font-weight: 400;
  padding-bottom: 50px;
  text-transform: uppercase;
}

main .content h2 {
  color: #fc60ffc5;
  font-weight: 400;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

main .content h3 {
  color: rgba(213, 122, 255, 0.808);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
}

main .content h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(7, 207, 207);
  margin-top: 1rem;
}

main .content p,
main .content ol li {
  color: #99a1b3;
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 20px 0 70px 0;
}

main .content ol li blockquote {
  margin-top: 20px;
}

main .content ol li blockquote a {
  padding: 0;
}

main .content a {
  padding: 10px;
  color: white;
  text-decoration: underline;
}

main .content p a {
  padding: 0;
}

main .content ol,
main .content ul {
  padding-left: 2.5rem;
}

main .content ul {
  margin-bottom: 3rem;
}

main .content ul li {
  color: #99a1b3;
  font-size: 1.1rem;
}

main .content blockquote a {
  padding: 0;
}

main .content .centered-button {
  text-align: center;
  line-height: 6rem;
}

/* For mobile devices: */
@media only screen and (max-width: 870px) {
  main .content {
    width: 85%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  main .content {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  main .content h1 {
    font-size: 1.3rem;
    padding-bottom: 30px;
  }

  main .content h2 {
    font-size: 2.6rem;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
  }

  main .content h3 {
    font-size: 1.2rem;
  }

  main .content h4 {
    font-size: 1rem;
    margin-top: 0.8rem;
  }

  main .content p,
  main .content ol li {
    font-size: 0.9rem;
    margin: 10px 0 30px 0;
  }

  main .content ul {
    padding-left: 2rem;
  }

  main .content ul li {
    font-size: 0.9rem;
  }
}

footer {
  grid-area: f;
  margin-top: 130px;
  margin-bottom: 120px;
  color: #99a1b3;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
}

footer a,
footer a:visited {
  color: #99a1b3;
  font-weight: 700;
  text-decoration: underline;
}

footer .navigation {
  margin-bottom: 50px;
  color: white;
  letter-spacing: 4px;
}

footer .navigation a {
  font-size: 0.8rem;
  font-weight: 100;
  margin: 0 0.8rem;
  text-decoration: none;
  color: white;
}

footer .navigation a:hover {
  color: #fc60ffc5;
}

footer .socials i:hover {
  color: #fc60ffc5;
}

footer .socials {
  margin-top: 3rem;
}

footer .socials a i {
  color: white;
  font-weight: 100;
  font-size: 1.8rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

/* For mobile devices: */
@media only screen and (max-width: 870px) {
  footer {
    margin-top: 110px;
    margin-bottom: 100px;
    font-size: 0.7rem;
    line-height: 1.1rem;
  }

  footer .navigation {
    margin-bottom: 40px;
    letter-spacing: 3px;
  }

  footer .navigation a {
    font-family: "spaceMonoBold";
    font-size: 0.75rem;
    margin: 0 0.7rem;
  }

  footer .socials {
    margin-top: 1.5rem;
  }

  footer .socials a i {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}
