  .box{
         background-color: #e84febc5;
         color: white;
 }
 a,.register-button,.register-button:visited{
         color: white;
 }
 h2{
        text-transform: uppercase;
}

.banner-image{
        margin-left: 40px;
        float: right;
        width: 40%;
        height: 350px;
}
img{
        
        float: right;
        width: 100%;
        height: 100%;
        object-fit: contain;
}
li{
        color:gray;
}
.b{
        color: white;
}

/* For mobile devices: */
@media only screen and (max-width: 870px) {
.banner-image{
        float: none;
        margin-left: 1em;
        margin-bottom: 10px;
        width: inherit;
        }
}
.buttoncontainer{
        text-align: center;
}
.register-button {
        display: inline-block;
        margin-right: 50px;
        z-index: 4;
        font-family: "iceland", "spaceMonoRegular";
        text-transform: uppercase;
        font-size: 16px;
        color:white;
        padding-top: 5px;
        width: 110px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 30px;
        background-color: rgb(87, 0, 126);
        box-shadow:  10px 10px rgb(202, 2, 206);
        font-weight: 100;
        text-decoration: none !important;
        transition: all 0.4s ease;
        text-align: center;
      }
      
      .register-button:hover {
        margin-top: 1%;
        margin-bottom: 2%;
        box-shadow: none;
        cursor: pointer;
      }
      ::-moz-selection {
        /* Code for Firefox */
        color:aqua;
        background: blue;
      }
      
      ::selection {
        color: aqua;
        background: blue;
      }
      
