.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

main .content {
  padding-right: 30px;
}

.column {
  display: flex;
  justify-content: center;
}

img {
  box-shadow: 5px 8px 13px rgba(0, 0, 0, 0.45);
  transition: transform 0.35s;
  height: 400px;
  width: 300px;
  object-fit: cover;
}

img:hover {
  transform: scale(1.05);
}

/* For mobile devices: */
@media only screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.7em;
  }

  img {
    height: auto;
    width: 250px;
  }

  main .content {
    padding-right: 9px;
  }
}
