@font-face {
  font-family: iceland;
  src: url(../fonts/Iceland.ttf);
}

body {
  height: 100vh;
  overflow-y: hidden;
}

.rotating-animation svg {
  display: block;
  width: 35vw;
  margin: 0 auto;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.sankalan-wrap {
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.glitch {
  font-size: 18vh;
}

.register-button {
  display: inline-block;
  position: fixed;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  font-family: "iceland";
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #f8f8f8;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #57007e;
  box-shadow: 0px 9px 0px 0px #c400c6;
  font-weight: 100;
  transition: all 0.4s ease;
}

.register-button:hover {
  margin-top: 1%;
  margin-bottom: 2%;
  color: #f8f8f8;
  box-shadow: none;
}

.corner-nav-item {
  font-family: "iceland";
  text-transform: uppercase;
  width: 200px;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f8f8f8;

  z-index: 7;
}

.corner-nav-item.top-left {
  top: 2%;
  left: -1%;
}

.corner-nav-item.top-right {
  top: 2%;
  right: -1%;
  left: auto;
}

.corner-nav-item.bottom-left {
  top: auto;
  bottom: 2%;
  left: -1%;
}

.corner-nav-item.bottom-right {
  top: auto;
  right: -2%;
  bottom: 2%;
  left: auto;
}

.corner-nav-item a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #f8f8f8;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.corner-nav-item a:hover:after {
  width: 100%;
  left: 0;
}

.left-content {
  color: #f8f8f8;
  font-family: "iceland";
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.right-content {
  position: fixed;
  top: 27vh;
  right: 4vw;
  color: #f8f8f8;
  font-family: "iceland";
  font-size: 1.5rem;
  z-index: 5;
}

.date {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.coordinates {
  margin-bottom: 2.5rem;
  padding: 7px;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.options {
  font-size: 1.6rem;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  line-height: 1.8rem;
}

.options div:hover,
.coordinates:hover {
  color: #c400c6;
  text-shadow: 2px 0px 30px rgba(238, 165, 246, 0.733);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  font-size: 1.5rem;
}

.coordinates:hover {
  border: 1px solid rgba(238, 165, 246, 0.733);
}

.countdown {
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.countdown .counter-section .counter-wrap .counter-container {
  display: flex;
  padding: 20px 40px;
  border-radius: 100px;
  flex-direction: column;
}
.countdown .counter-section .counter-wrap .counter-box {
  width: 80px;
  height: 80px;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #f8f8f8;
  border-radius: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countdown .counter-section .counter-wrap .counter-box:last-of-type {
  margin: 0;
}
.countdown .counter-section .counter-wrap .counter-box p {
  color: #f8f8f8;
}
.countdown .counter-section .counter-wrap .counter-box .counter-time {
  font-size: 2.5rem;
  margin: 0 0 2px 0;
}
.countdown .counter-section .counter-wrap .counter-box .counter-tag {
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 50px;
  height: 50px;
  background: #243b5580;
  border-radius: 70px;
  line-height: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes wobble {
  from {
    transform: scale(0.9);
    top: 20px;
  }
  to {
    transform: scale(1);
    top: 0px;
  }
}
