html {
  font-size: calc(16px + 0.25vw);
}

body {
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  background: #0c093c; /* fallback for old browsers */
  background: -webkit-radial-gradient(
    #0c093c,
    #0c093c,
    #0c093c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(
    #0c093c,
    #0c093c,
    #0c093c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a,
a:visited {
  text-decoration: none;
  color: #f8f8f8;
}

img #lines,
#lines,
#dots-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#lines {
  height: auto;
}

img #lines {
  z-index: 1;
}

#dots-bg {
  z-index: 2;
}

.dot-dot {
  position: absolute;
  display: none;
  color: #c400c6;
}

.glitch {
  font-weight: 900;
  color: #f8f8f8;
  position: relative;
  margin: 0 auto;
  text-shadow: 0px -5px 10px rgba(255, 255, 255, 0),
    0px 0px 5px rgba(255, 255, 255, 0), 0px 0px 10px rgba(255, 255, 255, 0),
    4px 3px 4px #57007e, 0px 0px 20px rgba(255, 255, 255, 0), -4px 0 #090057;
}

.main-button {
  z-index: 4;
  font-family: "iceland", "spaceMonoRegular";
  text-transform: uppercase;
  color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #57007e;
  text-decoration: none !important;
  transition: all 0.4s ease;
}

.main-button span {
  font-size: 1.5rem;
  font-weight: 200;

}

.main-button:hover {
  bottom: -0.2rem;
  box-shadow: -3px 3px 0 #c400c6;
  color: #f8f8f8;
  cursor: pointer;
}

::selection, ::-moz-selection {
  color: #f8f8f8;
  background:#c400c6;
}



@media only screen and (max-width: 768px) {
	/* for Mobile phones */
	svg#circles {
		width:75%;
	}
	div.glitch {
		font-size: 2.75rem;
	}
	div.sankalan-wrap, svg#circles {
		Left: 50%;
		top: 35%;
		transform: translate(-50%,-50%);
	}
	a.main-button{
		box-shadow: none;
	  padding-top: 5px;
	  padding-bottom: 10px;
	  padding-left: 10px;
	  padding-right: 10px;
	}
	
	a.main-button span{
		  font-size: 1.25rem;
		  font-weight: 100;

	}
	
	div.right-content {
	  top: auto;
	  bottom : 6.5rem;
	  left : 50%;
	  transform : translateX(-50%);
	}
	div.date {
		font-size: 1.5rem;
	}
	
	div.options {
	  font-size: 1rem;
	  padding: 2.5px;
	  line-height: 1.25rem;
	}
	
	div.coordinates, div.left-content {
		width: 100%;
		display: none;
	}
}