---
layout: base-layout.njk
title: About
tags: page
permalink: /about/
---

<p>Sankalan is the annual tech fest of Department Computer Science, University of Delhi (DUCS).</p>

<h2>What is it?</h2>

<p>This is the annual tech fest of DUCS which has been our pride for more than a decade now.</p>
<p>Since its inception in 2005, it has been a part & parcel of lives at DUCS. 
Students from universities across India come and participate enthusiastically in this two day event. 
This is the time when everyone works together as a team and is dedicated towards a common goal to bring pride 
and honour to the Department.</p>
<p>The sole reason for this event is to nurture qualities of participants. </p>
<p>We at DUCS put our efforts to make this event fruitful and memorable. 
'Division of labour' is followed here at every step. 
This keeps the students mentally prepared to perform well in the companies and prepares them to take 
responsibilities and live up to the expectations. </p>
<p>Renowned people from the IT industry and our alumni placed in various tech giant companies judge and review 
all the technical events held during the fest. 
After the two days of long grilling experience, students are awarded and appreciated for winning and 
participating in the fest. </p>
<p>A large number of sponsors who financially aid this event form the backbone of the fest.
Thankful to the sponsors who always believes in us.</p>

<h2>When is it?</h2>

<p>{{ site.month }} {{ site.day1 }}, {{ site.year }} - {{ site.month }} {{ site.day2 }}, {{ site.year }}</p>

<h2>Where is it?</h2>

<p>Coordinates: {{ contact.coordinates }}<br /><br />  
{{ contact.address }}  <br /><br />
Get directions on <a href="{{ contact.google_location }}" target="_blank">Google Maps</a></p>

<h3>For more info:</h3> 

<p>See the <a href="{{ '/faq/' | url }}" target="_blank">faq</a> page.</p>

<h3>For Event details:</h3>

<p>See the <a href="{{ '/events/' | url }}" target="_blank">events</a> page.</p>

<h3>For Sponsors:</h3>

<p>See the <a href="{{ '/sponsors/' | url }}" target="_blank">sponsors</a> page.</p>

<h3>To know about Sankalan and its dev team:</h3>

<p>See the <a href="{{ '/team/' | url }}" target="_blank">team</a> page.</p>

<h3>Follow us</h3>:

<p>Join us on our <a href="{{ contact.facebook.link }}" target="_blank">Facebook</a> or Follow us on <a href="{{ contact.instagram.link }}" target="_blank" rel="noopener">Instagram</a>.</p>
