---
layout: base-layout.njk
title: FAQ
permalink: /faq/
---
<ol>
    <li>
        <h3>What exactly is Sankalan?</h3>
        <blockquote>
            Sankalan is the annual technical festival of Department of Computer Science, University of Delhi. The fest blends a plethora of events including coding, quizzes, gaming, debates and a lot more events, it has something in store for everyone. It is entirely organised by the DUCS student body. To know more about it, please visit our <a href="{{ '/about/' | url }}">about</a> page.
        </blockquote>
    </li>

    <li>
        <h3>When is Sankalan {{ site.year }} scheduled?</h3>
        <blockquote>
            Sankalan {{ site.year }} will be organized in the Department of Computer Science, University of Delhi on {{ site.day1 }}th to {{ site.day2 }}th {{ site.month }}, {{ site.year }}. Some events will be taking place before the fest as well. Please checkout our <a href="{{ '/events/' | url }}">events</a> page for more details.
        </blockquote>
    </li>

    <li>
        <h3>Who can participate?</h3>
        <blockquote>
            Sankalan is a blend of technical as well as non-technical events. Go through the <a href="{{ '/events/' | url }}">events</a> list to find your pick.
        </blockquote>
    </li>

    <li>
        <h3>Can I get a schedule of all the events to be held at Sankalan {{ site.year }}?</h3>
        <blockquote>
            Yes, you can find a list of all the events at our <a href="{{ '/events/' | url }}">events</a> page with detailed description.
        </blockquote>
    </li>

    <li>
        <h3>Will non-Computer Science students be able to participate in the non-tech events?</h3>
        <blockquote>
            Yes, you are more than welcome to participate in non-tech events. They are open to all, doesn't matter if your background is CS or not.
        </blockquote>
    </li>

    <li>
        <h3>Is there online registration for events?</h3>
        <blockquote>
            Yes, you need to get registered online in order to participate in the events of Sankalan. You can <a href="{{ '/events/' | url }}">register</a> in different events form here.
        </blockquote>
    </li>

    <li>
        <h3>How should I reach Department of Computer Science?</h3>
        <blockquote>
            Get directions on <a href="{{ contact.google_location }}" target="_blank">Google Maps</a>.<br />
            If you're coming from distance, reaching GTB Nagar Metro Station or Vishwavidyalaya Metro Station and then taking an e-rickshaw might be a good option for you. <br />
            If you've trouble finding the venue location, you may look for following landmarks: Daulat Ram College, Shri Ram College or Faculty of Mathematical Sciences/Social Sciences.
        </blockquote>
    </li>

    <li>
        <h3>I have a question that was not answered here. What do I do?</h3>
        <blockquote>
            You can drop your queries at <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>.<br />
            You can also send a message on our Facebook page: <a href="{{ contact.facebook.link }}">{{ contact.facebook.name }}</a><br />
            We have also provided event specific details and contacts on their respective pages.
        </blockquote>
    </li>
</ol>
