---
layout: base-layout.njk
title: Register
tags: page
permalink: /register/
---
<div class="banner">
    <div class="banner-content">
        <h2 class="banner-title">Registrations Closed!</h2>
        <p>Sankalan 2020 registrations are now closed. See you next year.</p>
    </div>
</div>