---
layout: base-layout.njk
title: What's New
tags: ["page"]
permalink: /whats-new/
---

<h2>New Events</h2>
<h3>Web Space</h3>
<p>
“COME, CODE, DEVELOP!!”
<br/>
<br/>
The key to effective communication is stellar presentation.
<br/>
<br/>
With that in mind, we invite all budding web developers and hackathon enthusiasts to come up with web apps that are innovative, 
efficient and unique. Code your way from the backend to the frontend and design websites to inspire!
<br/>
<br/>
<a href="{{ '/events/web-space/' | url }}" target="_blank">More Details</a>
</p>

<h3>Ideogram</h3>
<p>
Think you have what it takes to design the next quintessential icon? The time has come to put your artistic faculties to the test!
<br/>
<br/>
This design hackathon purports to be a perfect blend of creativity and problem solving. The event aims to inspire participants to unleash their 
creative quotient by flexing their design muscles. We aspire to highlight the best icon design ideas in Graphics Design.
<br/>
<br/>
<a href="{{ '/events/ideogram/' | url }}" target="_blank">More Details</a>
</p>

