---
layout: base-layout.ejs
title: What's New
tags: ["page"]
permalink: /whats-new/
---

<h2>New Event</h2>
<h3>अल्फ़ाज़ aur जज़्बात:</h3>
<p>
  This year we made an effort to amalgamate tech with culture. Here we bring to
  you the very first Poetry event of Sankalan ever -
  <a href="/events/alfaaz-aur-jazbaat/" target="_blank">Alfaaz aur Jazbaat</a>. <br /><br />
  We went on to collaborate with
  <a
    href="https://www.youtube.com/channel/UCeMecwNIJrd_kyw_6fKgmqw/featured"
    target="_blank"
    >Social House</a
  >
  a one-of-its-kind youtube channel with more than a million subscribers.<br />
  Best part is, the Winner will get a chance to be featured on India's most
  subscribed poetry and storytelling YouTube channel. This will serve as the big
  break to the winners.
</p>

<h2>Register Process</h2>
<p>
    We created a brand new <a href=<%= site.registerLink %> target="_blank">online portal</a> for Sankalan <%= site.year %> participation & Online Quizzing. <br /><br />

    We made registration and the quizzing process really simple.<br/><br />

    In almost every fest, you register using a form. Most of times, they ask you for very useless and repetitive info. <br />
    Our portal will ask you for only to required details, and only once. Team up with your friends right on the portal and participate in different events with your custom teams.<br /><br />

    Just remember your email and password, and we will do the rest. <br />
    We won't waste your time in writing details about you in spreadsheets or paper for each event!<br/><br />

    Just register and login on the portal, create a team with you friend, and simply click participate to register for that event.<br />
    You can register for as many event as you like, as long as the schedule allows.<br /><br />

    If you haven't registered for Sankalan yet, what are you waiting for? Register yourself at <a href=<%= site.registerLink %> target="_blank">our portal</a>, and don't forget to share sankalan among your friends.
</p>

<h2>The Website</h2>
<p>
    For the main website, we ported our last year's site to 11ty to make it more beginner-friendly.<br /><br />

    For the sankalan portal, we built everything from scratch. The frontend is in VueJS, and laravel is used in backend.<br /><br />

    The website is using https by certbot, and is hosted on a digital ocean VPS.<br ><br />

    We also revamped the <a href="https://chakravyuh.ducs.in/">charakvyuh portal</a> this year.<br /><br />
    
    Embracing the open source development, we have decided to publish all the source code of website (including the Dashboard) on Github.
</p>
<h3>Source code for:</h3>
    <ul>
        <li>
            Sankalan <%= site.year %> website: <a href="https://github.com/csdu/sankalan">https://github.com/csdu/sankalan</a>
        </li>
        <li>
            Sankalan Portal: <a href="https://github.com/csdu/sankalan-portal">https://github.com/csdu/sankalan-portal</a> 
        </li>
        <li>
            Chakravyuh Portal: has not been open sourced due to security reasons.
        </li>
    </ul>
<p>
    The website is totally student managed and is not endorsed by any official regulatory commities/departments.
</p>

