---
layout: base-layout.njk
title: What's New
tags: ["page"]
permalink: /whats-new/
---

<h2>New Event</h2>
<h3>First Ever Hackathon</h3>
<p>
  We invite you all developers, designers, data experts and creative people to
  our first ever hackathon :
  <a href="{{ '/events/hackducs/' | url }}" target="_blank">hackDUCS</a>. This year we come
  with a hackathon to make events more inclusive and community oriented.
  <br />
  A 48 hour product making competition where every team needs to develop a
  product from scratch during those hours.
</p>

<h2>Green Practices</h2>
<p>
  For our DUCS family that has always practised environment consciousness, the
  decision to have a plastic free Hackathon was not at all a difficult one.
  <br /><br />
  From fliers and posters to crackers, be it any event of the department, DUCS
  family always had the habit of taking care to reduce the impact of our
  celebrations on the environment to a maximum possible extent. So, when it was
  time to plan our first ever hackathon, the same habit and practises kicked in,
  but we went one step ahead to try and aim for a zero-waste event.
</p>
